* {
    box-sizing: border-box;
}

body {
    font-family: "Muli", sans-serif;
    line-height: 1.6;
    max-width: 1200px;
    margin: 0 auto;
}

body > * {
    padding: 0 16px;
}

$yellow: #F7DF1E;
$red: #CC342D;
$blue: #0084BF;
$black: #000;
$white: #FFF;
$grey: #777777;

a, a:visited {
    color: $blue;
}

/*========================
        Header
=========================*/
.header-nav {
    text-align: right;
    font-size: 1.1em;
}

.header-navItem {
    display: inline-block;
    list-style: none;
    margin-left: 4px;
}

.header-navLink {
    text-decoration: none;
    transition: color 0.3s ease;
    color: $grey;
}

.header-navLink:hover {
    color: $black;
}

/*======================
        Intro
=======================*/
.intro-heading {
    text-align: center;
}

/*======================
        Projects
======================*/
.project-heading {
    text-align: center;
}

.project-image {
    max-width: 100%;
    margin-bottom: 8px;
}

.project-infoContainer {
    margin-bottom: 32px;
}

.project-technology {
    margin-right: 8px;
    padding: 4px 4px;
    color: $white;
    outline: thin solid;
}

.project-technology--ruby {
    background-color: $red;
}

.project-technology--javascript {
    background-color: $yellow;
}
